.Frame{
  border: 1px dashed #D8D8D8;
  height: 100px;
  width: 100px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

.Frame.ClientView{
  position: absolute;
  left: 5px;
  top: 5px;
  width: 650px;
  height: 715px;
}

.Frame.SpaceView{
  position: absolute;
  left: 660px;
  top: 5px;
  width: 1255px;
  height: 715px;
}

.Frame.ModelView{
  position: absolute;
  left: 5px;
  top: 725px;
  width: 500px;
  height: 350px;
}

.Frame.GradientView{
  position: absolute;
  left: 510px;
  top: 725px;
  width: 1405px;
  height: 350px;
}
