.Frame {
  border: 1px dashed #d8d8d8;
  height: 100px;
  width: 100px;
  font-family: sans-serif;
  font-weight: bold;
  /* font-size: 18px; */
  padding: 5px;
  color: black;
}

.Frame.HistoryView {
  position: absolute;
  display: flex;
  left: 5px;
  top: 5px;
  width: 1960px;
  height: 150px;
}

.Frame.ClientView {
  position: absolute;
  left: 5px;
  top: 160px;
  width: 700px;
  height: 815px;
}

.Frame.SpaceView {
  position: absolute;
  left: 710px;
  top: 160px;
  width: 1255px;
  height: 565px;
}

.Frame.ModelView {
  position: absolute;
  left: 5px;
  top: 725px;
  width: 500px;
  height: 350px;
}

.Frame.GradientView {
  position: absolute;
  left: 710px;
  top: 725px;
  width: 1255px;
  height: 350px;
}
